{% extends 'admin/master.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}
{{ super() }}

{% if current_user.is_authenticated %}

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Balanço
    <small>Página de consulta</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Balanço</li>
  </ol>
</section>

<section class="content">

  <div class="row">

    <div class="col-lg-12">

      <div class="box box-solid bg-black-gradient">
          <div class="box-header">
            <i class="fa fa-th"></i>

            <h3 class="box-title">Formulário do balanço</h3>

            <div class="box-tools pull-right">
          </div>
      </div>
      <div class="box-body border-radius-none">
        <!-- Form begin -->
        <form method="post" novalidate>

          <!-- Message row of form -->
          <div class="row">

            <div class="col-lg-12">
              <center>
                {% for error in errors %}
                <span style="color: red;">[{{ error }}]</span><br>
                {% endfor %}
              </center>
            </div>

          </div>
          <!-- // Message row of form -->

          <!-- First row of form -->
          <div class="row">

            <!-- CEP input -->
            <div class="col-lg-6">
              <center>
                {{ form.cep.label }}<br>
                <span style="color:black">
                  {{ form.cep }}
                  {% for error in form.cep.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </span>
              </center>
            </div>
            <!-- // CEP input -->

            <!-- Trafo input -->
            <div class="col-lg-6">
              <center>
                {{ form.trafo.label }}<br>
                <span style="color:black">
                  {{ form.trafo }}
                  {% for error in form.trafo.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </span>
              </center>
            </div>
            <!-- // Trafo input -->

          </div>
          <!-- // First row of form -->

          <!-- Second row of form -->
          <div class="row">

            <!-- Date start input -->
            <div class="col-lg-6">
              <center>
                {{ form.startDate.label }}<br>
                <span style="color:black">
                  {{ form.startDate(class='datepicker') }}
                  {% for error in form.startDate.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </span>
              </center>
            </div>
            <!-- // Date start -->

            <!-- End date input -->
            <div class="col-lg-6">
              <center>
                {{ form.endDate.label }}<br>
                <span style="color:black">
                  {{ form.endDate(class='datepicker') }}
                  {% for error in form.endDate.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </span>
              </center>
            </div>
            <!-- // End date -->

          </div>
          <!-- // Second row of form -->

          <!-- Third row of form -->
          <div class="row">
            <div class="col-lg-12">
              <br>
              <p>
                <center>
                  <span style="color:black">
                    {{ form.submit }}
                  </span>
                </center>
              </p>
              <br>
            </div>
          </div>
          <!-- // Third row of form -->

        </form>
        <!-- Form end -->
      </div>
      </div>



    </div>

  </div>
  <!-- /.row (main row) -->

</section>
<!-- /.content -->

{% else %}

  {% include "admin/logged_out.html" %}

{% endif %}

{% endblock body %}
