<center>
    <section class="content" style="color: white">
        <div class="col-sm-12">
            <h1>LPS Cluster</h1>
            <p class="lead">
                Authentication
            </p>
            <p>
                This is the web interface for the <i>LPS Cluster</i> project, <br>
                if you reached here and don't know why, please return.
            </p>
            {% if not current_user.is_authenticated %}
                <p>
                    <a class="btn btn-primary" href="{{ url_for('security.login') }}">Login</a> <a class="btn btn-default" href="{{ url_for('security.register') }}">Registrar</a>
                </p>
                {% endif %}
                <br>
                <p>
                    <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
                </p>
            </div>
        </section>
    </center>

  <br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br>
