{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

{% if current_user.is_authenticated %}

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Cluster 
    <small>Logs</small>
</h1>
<ol class="breadcrumb">
    <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active"><i class="fa fa-file-text"></i> Logs</li>
</ol>
</section>

<section class="content">

  <!-- main row -->
  <div class="row">

  <!-- API Log section -->
  <section class="col-lg-12">
    <!-- Box div -->
    <div class="box box-solid bg-black-gradient" style="height: 300px; overflow-y:scroll;">
      <!-- Box header -->
      <div class="box-header">
        <i class="fa fa-th"></i>
        <h3 class="box-title">MaestroAPI </h3>
        <div class="box-tools pull-right"></div>
      </div>
      <!-- // Box header -->
      <!-- Box content -->
      <div class="box-body border-radius-none">
        <span id='apiLog'></span>
      </div>
      <!-- // Box content -->
    </div>
    <!-- // Box div -->
  </section>
  <!-- // API Log section -->

  <!-- Web Log section -->
  <section class="col-lg-12" style="height: 300px;">
    <!-- Box div -->
    <div class="box box-solid bg-black-gradient" style="height: 300px; overflow-y:scroll;">
      <!-- Box header -->
      <div class="box-header">
        <i class="fa fa-th"></i>
        <h3 class="box-title">Web Dashboard </h3>
        <div class="box-tools pull-right"></div>
      </div>
      <!-- // Box header -->
      <!-- Box content -->
      <div class="box-body border-radius-none">
        <span id='webLog'></span>
      </div>
      <!-- // Box content -->
    </div>
    <!-- // Box div -->
  </section>
  <!-- // Web Log section -->

  <!-- Main Log section -->
  <section class="col-lg-12" style="height: 300px;">
    <!-- Box div -->
    <div class="box box-solid bg-black-gradient" style="height: 300px; overflow-y:scroll;">
      <!-- Box header -->
      <div class="box-header">
        <i class="fa fa-th"></i>
        <h3 class="box-title">Orchestra </h3>
        <div class="box-tools pull-right"></div>
      </div>
      <!-- // Box header -->
      <!-- Box content -->
      <div class="box-body border-radius-none">
        <span id='mainLog'></span>
      </div>
      <!-- // Box content -->
    </div>
    <!-- // Box div -->
  </section>
  <!-- // Main Log section -->

  </div>
  <!-- /.row (main row) -->
</section>
<!-- /.content -->
{% else %}

{% include "admin/logged_out.html" %}

{% endif %}

  {% endblock body %}
